@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  width: 100vw;
  height: 100vh;
  background-color: #615e5e;
background-image: linear-gradient(0deg, #615e5e 0%, #9a9a9a 50%, #fafafa 100%);
position: absolute;
top: 0;
z-index: -1;
}
