@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: -webkit-linear-gradient(#44f87a, #9d56e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 100px;
  font-weight: 900;
}
